# Source files
src/

# Build files
.cache
dist
node_modules

# Config files
.babelrc
.eslintrc
babel.config.js
jest.config.js
tsconfig.json
webpack.config.js

# Test files
__tests__
__mocks__
*.test.js
setupTests.js
coverage/

# Git
.git
.gitignore
.github

# Misc
.DS_Store
*.log
npm-debug.log
yarn-error.log
.env
.env.local

# Do NOT ignore these
!templates/
!bin/
!lib/